body{
  background-color: #lightblue;
}
#Bmw {
  egenskap:
  color: #000000

  verdi; }
  #Mercedes {
    egenskap:
color: #999999
    verdi;
  }
#Audi{
  egenskap:
  color: #ff0000
  verdi;
}
#vw {
egenskap:
coclor: #0000ff
verdi;

}
