body{
  background-color: black;
  color: #e5e4e2;
  padding-left: 20px;
}
.logo{
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  padding-left: 20px;
  padding-right: 100px;
  border: black 2px solid;
}
.bilde{
  width: 640px;
  height: 360px;
  border: #e5e4e2 solid 5px;
}
