body{
  background-color: black;
}
body{
  font-size: 20px;
  text-align: center;
  color: white;
}
img{
  width: 400px;
  border-width:5px;
  border-style: solid;
  border-color: white;
  margin-left: 5px;
  margin-bottom: 5px;
}
